/* General Styles (Apply to all HTML pages) */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

/* Styles for the Start Page */
h2 {
  font-size: 2em;
  margin-top: 50px;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.user-input input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin-bottom: 10px; /* Adjusted margin */
}

.user-input button[type="Start"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 0px; /* Adjusted margin */
}

.user-input button[type="Start"]:hover {
  background-color: #3e8e41;
}

/* Styles for the Question Page */
.option-container {
  margin-top: 20px; /* Increased margin */
}

.option-container input[type="radio"] {
  margin-right: 10px;
  margin-bottom: 20px;
}

.option-container label {
  font-size: 1.2em;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styles for the Result Page */
.user-input-ig {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input-ig input[type="text"] {
  width: 200px;
  height: 25px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.user-input-ig button[type="submit"] {
  min-width: 100px; /* Adjust width as necessary */
  height: 30px; /* Adjust height to match input */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 0px;
  text-align: left; 
}

.user-input-ig button[type="submit"]:hover {
  background-color: #0056b3;
}

.titles {
  margin-bottom: 10px; 
}

.titles h1 {
  margin-bottom: 5px;
}

.titles h2 {
  margin-top: 9; /* Remove default top margin */
  font-size: 2em;
}

.input-group h5 {
  margin: 0 5px 5px 0; /* Adjust margins as needed */
  margin-bottom: 3px;
}